@model CategoriesProducts
@{
    ViewData["Title"] = "Home Page";
    List<ProductViewModel> productList = Model.Products;
    List<CategoryViewModel> categoryList = Model.Categories;
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
            @foreach(var c in categoryList)
            {
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                   @c.Name
                </a>
            }
            </div>

        </div>
        <div class="col-md-10">
            <div class="row">
        @foreach (ProductViewModel p in productList)
        {
           @await Html.PartialAsync("_ProductPartial",p)
        }
            </div>
        </div>
    </div>
</div>
