*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Roboto;
    font-weight: 100;
    /* b-b yapmamızın asıl sebebi? */
}

.container{
    /* list-style-type: none;
    color: black;
    width: 90vw;
    margin: 0 auto;
    justify-content:space-between ; */
    color: var(--black-color);
 background-color: blue;
    font-weight: 100;

}
.header {
    display: flex;
    /* justify-content: space-between; */
  
    align-items: center;

}
.main-nav-items {
    list-style-type: none;
    display: flex;

    /* gap:20px; */
    column-gap: 20px;

}
.main-nav-item {
    /* margin-left: 20px; */
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    font-size: 15px;
}
a:hover {
    text-decoration: none;
  }