/*Element */
h1 {
    color: wrgb(30, 58, 83);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size:30px;
}
.main_header{
    color:blue;
}
 .main_header{
    color:rgb(152, 140, 192)
 }
 #paragrafh1{
    color:yellow
 }

 /*
 CSS te temel 3  selector vardır:
 1)Element selector:HTML elemnentlerini seçer.HTML element adları ile kullanılır.
 2)Class selector:Html classlarını seçer.Class adının başına konularak kullanılır.
 3)ID selector:HTML Id'lerini seçer.ID adının başına # işaret konularak kullanılır.

 */