/* padding */
.p-0{
    padding:0px;
}
.p-1 {
    padding: 4px;
}
.p-2 {
    padding: 8px;
}
.p-3 {
    padding: 16px;
}
.p-4 {
    padding: 24px;
}
.p-5 {
    padding: 32px;
}

/* padding-left */
.pl-0 {
    padding-left: 0px;
}
.pl-1 {
    padding-left: 4px;
}
.pl-2 {
    padding-left: 8px;
}
.pl-3 {
    padding-left: 16px;
}
.pl-4 {
    padding-left: 24px;
}
.pl-5 {
    padding-left: 32px;
}
/* padding-right */
.pr-0 {
    padding-right:  0px;
}
.pr-1 {
    padding-right: 4px;
}
.pr-2 {
    padding-right: 8px;
}
.pr-3 {
    padding-right: 16px;
}
.pr-4 {
    padding-right: 24px;
}
.pr-5 {
    padding-right: 32px;
}
/* top */
.pt-0 {
    padding-top: 0px;
}
.pt-1 {
    padding-top: 4px;
}
.pt-2 {
    padding-top: 8px;
}
.pt-3 {
    padding-top: 16px;
}
.pt-4 {
    padding-top: 24px;
}
.pt-5 {
    padding-top: 32px;
} 
/* bottom */
.pb-1 {
    padding-bottom: 0px;
}
.pb-2 {
    padding-bottom: 0px;
}
.pb-3 {
    padding-bottom: 0px;
}
.pb-4 {
    padding-bottom: 0px;
}
.pb-5 {
    padding-bottom: 0px;
}



/* horizontol */
.ph-1 {
    padding-left: 4px;
    padding-right: 4px;
}
.ph-2 {
    padding-left: 8px;
    padding-right: 8px;
}
.ph-3 {
    padding-left: 16px;
    padding-right: 16px;
}
.ph-4 {
    padding-left: 24px;
    padding-right: 24px;
}
.ph-5 {
    padding-left: 32px;
    padding-right: 32px;
}
/* horizon vertical */
.pv-1 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.pv-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.pv-3 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.pv-4 {
    padding-top: 24px;
    padding-bottom: 24px;
}
.pv-5 {
    padding-top: 32px;
    padding-bottom: 32px;
}

 ****

 /* padding */
 .m-0 {
     padding: 0px;
 }

 .p-1 {
     padding: 4px;
 }

 .p-2 {
     padding: 8px;
 }

 .p-3 {
     padding: 16px;
 }

 .p-4 {
     padding: 24px;
 }

 .p-5 {
     padding: 32px;
 }

 /* padding-left */
 .pl-0 {
     padding-left: 0px;
 }

 .pl-1 {
     padding-left: 4px;
 }

 .pl-2 {
     padding-left: 8px;
 }

 .pl-3 {
     padding-left: 16px;
 }

 .pl-4 {
     padding-left: 24px;
 }

 .pl-5 {
     padding-left: 32px;
 }

 /* padding-right */
 .pr-0 {
     padding-right: 0px;
 }

 .pr-1 {
     padding-right: 4px;
 }

 .pr-2 {
     padding-right: 8px;
 }

 .pr-3 {
     padding-right: 16px;
 }

 .pr-4 {
     padding-right: 24px;
 }

 .pr-5 {
     padding-right: 32px;
 }

 /* top */
 .pt-0 {
     padding-top: 0px;
 }

 .pt-1 {
     padding-top: 4px;
 }

 .pt-2 {
     padding-top: 8px;
 }

 .pt-3 {
     padding-top: 16px;
 }

 .pt-4 {
     padding-top: 24px;
 }

 .pt-5 {
     padding-top: 32px;
 }

 /* bottom */
 .pb-1 {
     padding-bottom: 0px;
 }

 .pb-2 {
     padding-bottom: 0px;
 }

 .pb-3 {
     padding-bottom: 0px;
 }

 .pb-4 {
     padding-bottom: 0px;
 }

 .pb-5 {
     padding-bottom: 0px;
 }



 /* horizontol */
 .ph-1 {
     padding-left: 4px;
     padding-right: 4px;
 }

 .ph-2 {
     padding-left: 8px;
     padding-right: 8px;
 }

 .ph-3 {
     padding-left: 16px;
     padding-right: 16px;
 }

 .ph-4 {
     padding-left: 24px;
     padding-right: 24px;
 }

 .ph-5 {
     padding-left: 32px;
     padding-right: 32px;
 }

 /* horizon vertical */
 .pv-1 {
     padding-top: 4px;
     padding-bottom: 4px;
 }

 .pv-2 {
     padding-top: 8px;
     padding-bottom: 8px;
 }

 .pv-3 {
     padding-top: 16px;
     padding-bottom: 16px;
 }

 .pv-4 {
     padding-top: 24px;
     padding-bottom: 24px;
 }

 .pv-5 {
     padding-top: 32px;
     padding-bottom: 32px;
 }