*{
    margin: 0;
    padding: 0;
    border-radius:;
    font-size: ;
    font-weight: ;


}
.container{
    width: 100%;
    height: 100%;
}

.main-header{}
.top-banner{}
#top-banner-image{}
.main-nav{}
.header-main{}
.all-links{}
.sticky-navbar{}
.main-navbar{}
.logo{}
.search-bar{}
/* input */
.menu-items{}
.nav-link{}
.cate-nav{}
.container{}
.circlelink-navbar{}
.circleimage{}
main{}
.banner-watching-items{}

